@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  font-family: 'Courier New', Courier, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Brutalist Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-left: 1px solid #333;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* Hard Edges Helper */
* {
  border-radius: 0 !important;
}
